.mon-screen-sec{
    padding: 20px 10px;
    img{
        width: 50px;
    }
    
    ul {
        display: flex;
        padding: 1px 5px;
        justify-content: start;

        a li{
            color: #000 !important;
            display: block !important;
            padding: 0 !important;
        }
        .screen-name{
            padding-top: 10px !important;
            padding-left: 7px !important;
        }
    }
    span{
        color: blue;
        padding-left: 10px;
        padding-top: 5px;
        font-size: 16px;
    }
    .icon-5{
        width: 10px !important;
        padding-left: 5px;
    }
    
    
}