.leaderboard{
    width: 100%;
    //min-height: 500px;
    background:#131641 url('./../../Assets/Images/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px 0;

    .leaderboard-wrapper{
        padding-top: 160px;
        width: 80%;
        margin: 0 auto;

        .leaderboard-heading{
            text-align: center;
            margin: 0;
            padding: 0;
            padding-bottom: 20px;
            font-size: 52px;
            color: #fff;

            span{
                background: -webkit-linear-gradient(#FFA408, #FF06E5);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 1.5;
            }
        }
       
        .leaderboard-sec{
            background: #131641;
            border-radius: 14px;
            padding: 5%;
            margin-bottom: 50px;
        
        .leaderboard-filter{
            width: 100%;
            margin: 0 auto;
            padding: 30px 0;
            color: #fff;
            display: flex;
            justify-content: space-between;

            .top-filters {

                li{
                    list-style: none;
                    color: #fff;
                    display: inline;
                    padding: 10px 20px;
                    background: linear-gradient(133.13deg, #0288FF 5.6%, #9305FF 96.36%);
                    border-radius: 20px;
                    margin: 0 10px;
                    cursor: pointer;

                    img{
                        width: 20px;
                        padding-right: 8px;
                        padding-top: 2px;
                    }

                }
                li:last-child{
                    background: transparent !important;
                    border: 1px solid #0288FF;
                 }
            }
            .gotoscreen span{
                background: transparent !important;
                border: 1px solid #0288FF;
                padding: 10px 20px;
                border-radius: 20px;
                margin: 0 10px;
                cursor: pointer;
                a{
                    color: #fff;
                    text-decoration: none;
                }
                img{
                    padding-right: 10px;
                }
            }
        }
        .attendance-txt{
            color: #fff;
            font-size: 20px;
            padding-left: 10px;
            padding-top: 0;
        }
        .attan-card{

            border: 1px solid #f2f2f0;
            padding: 0px 20px;
            display: flex;
            border-radius: 20px;
            justify-content: space-around;
            margin: 20px 0;

            .lact-num{
            //  background-image: url('./../../Assets/Images/Group-9.png');
            //  background-size: cover;
            //  background-repeat: no-repeat;

             text-align: center;
             height: 50px;
             color: #fff;
             margin: 20px 0;
         
            //  p{
            //  font-size: 20px;
            //  font-weight: 600;
            //  padding-top: 10px;
            //  }
             .event-txt{
                 font-size: 26px;
                 font-weight: 600;
                 background: linear-gradient(104.46deg, #FFA408 7.91%, #FF06E5 92.33%);
                 -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;  
                 padding-top: 0;
             }
            }
            .lact-attan{
                display: flex;
                justify-content: space-between;
                padding-top: 30px;

                img{
                    height: 30px;
                    padding-right: 30px;
                }
                p{
                    padding: 0;
                }
            }

            .lact-details {
             display: flex;
             justify-content: space-around;
             color: #fff;   
             img{
                width: 100px;
                padding-top: 15px;
                //border-radius: 20px;
            }
            h5{
               // width: 250px;
                font-size: 18px;
                margin: 0;
                padding: 0;
                //padding-left: 20px;
                padding-top: 30px;
                line-height: 1.5;

                span:last-child{
                    color: #fff;
                    opacity: 0.6;
                    font-size: 16px;
                }
            }
         }
         .attended-txt{
             color: #fff;
             line-height: 1.5;
             font-size: 18px;
             padding-top: 15px;
             padding-right: 40px;
             width: 200px;
             margin: 0 auto;

            span{
                font-weight: 700;
                background: -webkit-linear-gradient(#FFA408, #FF06E5);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
               // line-height: 1.2;
            }
         }
     }
    }
    }
}
@media (max-width:801px)  {
    .leaderboard{
        background-image: none;
        background-color: rgb(19, 22, 65);
        padding: 0;
    }
    .leaderboard .leaderboard-wrapper{
        width: 90%;
        margin: 0 auto;
    }
    .leaderboard .leaderboard-wrapper{
        padding-top: 100px;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-heading{
        padding: 20px 0;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec{
        padding: 20px;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .leaderboard-filter{
        display: none;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attendance-txt{
        padding-left: 0;
        text-align: center;
        font-size: 24px;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attan-card{
        display: block;
        padding: 10px;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attan-card .lact-details{
        display: block;
        text-align: center;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attan-card .lact-num{
        margin: 0;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attan-card .lact-num .event-txt{
        padding: 0;
        margin: 0;
        font-size: 42px;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attan-card .lact-details img{
        width: 160px;
        padding-top: 0;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attan-card .lact-details h5{
        padding-top: 0;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attan-card .lact-details h5{
        font-size: 26px;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attan-card .lact-attan{
        display: block;
        text-align: center;
        padding-top: 15px;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attan-card .lact-attan img{
        padding-right: 0;
        padding-bottom: 15px;
    }
    .leaderboard .leaderboard-wrapper .leaderboard-sec .attan-card .attended-txt{
        padding-right: 0;
    }

}
.light-leaderboard{
    background-image: none;
    background-color: #fff !important;

    .leaderboard-heading{
        color: #000 !important;
    }
}

