body {
  margin: 0;
  font-family: "Axiforma";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* :root{
  --blue: #111338;
  --white: #ffffff;
} */

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-theme='dark'] {
  --background: #111338;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.links-cta{
  text-align: right;
  padding-right: 28px;
 
}
.links-cta a{
  color: #fff;
  }